!!!
%html
  %head
    %meta{ content:'text/html', "charset" => "UTF-8", "http-equiv" => 'Content-Type' }
  %body
    %h1 Status of your account
    %p
      = @content
    %p
      = @description
    %p
      If you have any doubt please contact us.